/* src/app/page.css */
.nav-hyperlink {
  text-decoration: none; /* Remove underline */

  color: inherit; /* Inherit text color */
}

.nav-hyperlink:hover {
  text-decoration-color: #6ab04c; /* Change underline to a muted green on hover */
  color: #6ab04c; /* Change text color to a muted green on hover */
}
