@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f8f2;
  --foreground: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.text-custom-green {
  color: #6ab04c;
}
